<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <strong>Nome:</strong> <%= usuario.nome %>
    </div>
    <div>
        <strong>E-mail: </strong> <%= usuario.email%>
    </div>
    
    <%-include("../partials/rodape.ejs")%> 
</body>
</html>